.Main .Top h1 {
    padding: 36px;
    text-align: center;
    font-size: 24px;
}

.bottom-navi {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.bottom-navi p {
    width: 50%;
    background-color: #f0f0f0;
}

.bottom-navi p:last-child {
    border-left: 1px solid #d5d5d5;
}

.bottom-navi p a {
    display: block;
    line-height: 52px;
    text-align: center;
    color: #555;
    font-weight: 500;
}

.bottom-navi .active a {
    color: #1f93ff;
}